version: "3"

services:
  web:
    build: ./web
    volumes:
      - ./web:/usr/src/app
    ports:
      - "3000:3000"
    command: bash -c "yarn && yarn start"
    links:
      - api_server

  api_server:
    build: ./api_server
    ports: 
      - "3001:3001"
    volumes:
      - "./api_server:/usr/src/app"
      - "api_server_cargo:/usr/local/cargo"
    command: "cargo watch -x test -x run"

volumes:
  api_server_cargo:
